# SWC Generator 配置文件
classModifiers:
  toKotlinClass:
    - "Span"
  propsToSnakeCase:
    - "JsFormatOptions"
  literalUnionToTypealias:
    - "JscTarget"
    - "TerserEcmaVersion"
    - "TruePlusMinus"

paths:
  defaultInputPath: "/Users/yidafu/github/swc-binding/swc-generator/node_modules/.pnpm/@swc+types@0.1.25/node_modules/@swc/types/index.d.ts"
  defaultOutputTypesPath: "../swc-binding/src/main/kotlin/dev/yidafu/swc/generated/types/types.kt"
  defaultOutputSerializerPath: "../swc-binding/src/main/kotlin/dev/yidafu/swc/generated/types/serializer.kt"
  defaultOutputDslDir: "../swc-binding/src/main/kotlin/dev/yidafu/swc/generated/dsl"